<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Payment</h2>
        </div>
        <div class="card-body">

            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <label for="cardNumber">Card Number</label>
                <input type="text" class="form-control" id="cardNumber" maxlength="16" pattern="\d*" required
                    placeholder="1234 5678 9012 3456">

                <label for="expirationDate">Expiration Date</label>
                <input type="date" class="form-control" id="expirationDate" required placeholder="MM/YY">

                <label for="cvc">CVC</label>
                <input type="text" class="form-control" id="cvc" maxlength="3" pattern="\d{3}" required
                    placeholder="123">



                <label for="nameOnCard">Name on Card</label>
                <input type="text" class="form-control" id="nameOnCard" required placeholder="John Doe">

                <p></p>
                <button type="submit" class="btn btn-primary">Submit Payment</button>
            </form>
        </div>
    </div>
</div>