<div class="container" style="width: 400px; margin-top: 20px;">

  <form class="form-signup" #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>
    <img class="mb-4" src="assets/logo.jpg" alt="" width="30%">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign up</h1>

    <label for="inputUsername" class="sr-only">Username</label>
    <input name="username" [(ngModel)]="user.username" required type="username" id="inputUsername" class="form-control"
      placeholder="Username">

    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" [(ngModel)]="user.password" required type="password" id="inputPassword" class="form-control"
      placeholder="Password">

    <label for="inputRole">Role</label>
    <select name="role" [(ngModel)]="user.role" required id="inputRole" class="form-control">
      <option value="admin">Admin</option>
      <option value="client">Client</option>
    </select>

    <ng-container *ngIf="user.role === 'admin'">
      <label for="admincode">Admin Code</label>
      <input name="admincode" [(ngModel)]="admincode" type="text" class="form-control" id="admincode" maxlength="8" pattern="\d*" required
          placeholder="XXXX XXXX">
    </ng-container>


    <p></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

		<div>
			<small id="signupHelp" class="form-text text-muted">If you have already registered, sign in please </small>
			<button class="btn btn-lg btn-secondary btn-block btn-sm" routerLink="/login">Login</button>
		</div>
		<p class="mt-5 mb-3 text-muted">© 2023</p>
  </form>

</div>